# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
.env

# IDEs
.idea/
*.iml

# Django static files (generated at runtime)
staticfiles/

# Django media files (uploaded by users)
media/

# Operating System files
.DS_Store
Thumbs.db

# Other common files to ignore
*.pot
*.pyc
*.pyo
